<!--Qualfication Sec-->
<section id="edu"  class="col-lg-10 col-md-11 col-sm-11 edu-div">
    <h6>education</h6>  
    <div class="qualfication-wrap">

        <div class="row qualfication first-row">
            <div class="col-md-1">
                <span class="row-count"><span>1</span></span>
            </div>
            <div class="col-md-2">
                <span class="yr-pers vertical-align-pad">2017-Onwards</span>
            </div>
            <div class="col-md-4">
                <span class="insti vertical-align-pad">IIT Roorkee, Uttarakhand</span>
            </div>
            <div class="col-md-3">
                <span class="design vertical-align-pad">
                Bachelors of Architecture
                </span>
            </div>
       </div>
       
       <div class="row qualfication first-row">
        <div class="col-md-1">
            <span class="row-count"><span>2</span></span>
        </div>
        <div class="col-md-2">
            <span class="yr-pers vertical-align-pad">2015-2017</span>
        </div>
        <div class="col-md-4">
            <span class="insti vertical-align-pad">Campion School, Bhopal</span>
        </div>
        <div class="col-md-3">
            <span class="design vertical-align-pad">
            SSE, HSE
            </span>
        </div>
   </div>
   
    </div>
    
</section>
<!--/Qualfication Sec-->