<section id="achivement_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div achivement-wrap  sec-pad-top sec-pad-bottom-sm">
    <h6>achivements</h6>
    <div class="achivement-list-wrap margin-top-40">
        <ul class="row">
            <li class="col-sm-5">
                <ul>
                    
                </ul>
            </li>
            <li class="col-sm-7">
                <ul>

                    <li class="margin-bottom-xs">
                        <mat-icon  [ngStyle]="{'color':'#e91e63'}">
                            last_page
                        </mat-icon>
                        <span class="achive-pts"><strong>Citation Winner, GRIHA Trophy</strong> 
                            <br>Annual NASA Convention 2020
                            </span>
                    </li>
                    <li class="margin-bottom-xs">
                        <mat-icon  [ngStyle]="{'color':'#e91e63'}">
                            last_page
                        </mat-icon>
                        <span class="achive-pts"><strong>Citation Winner, DesTech Challenge</strong>  
                            <br>Annual NASA Convention 2019
                            </span>
                    </li>
                    <li class="margin-bottom-xs">
                        <mat-icon  [ngStyle]="{'color':'#e91e63'}">
                            last_page
                        </mat-icon>
                        <span class="achive-pts"><strong>Shortlisted, LIK Trophy</strong> 
                            <br>Annual NASA Convention 2018
                            </span>
                    </li>

                    <li class="margin-bottom-xs">
                        <mat-icon  [ngStyle]="{'color':'#e91e63'}">
                            last_page
                        </mat-icon>
                        <span class="achive-pts">Secured <strong> AIR-09 (158 Marks)</strong>  
                            <br>National Aptitude Test in Architecture 2017
                            </span>
                    </li>
                    <li class="margin-bottom-xs">
                        <mat-icon  [ngStyle]="{'color':'#e91e63'}">
                            last_page
                        </mat-icon>
                        <span class="achive-pts">Secured <strong> AIR 8,234 (Gen.)</strong> 
                            <br>IIT-JEE Advanced 2017
                            </span>
                    </li>
                    <li class="margin-bottom-xs">
                        <mat-icon  [ngStyle]="{'color':'#e91e63'}">
                            last_page
                        </mat-icon>
                        <span class="achive-pts">Qualified <strong>I.G.D. Exam Bombay</strong>  
                            <br>'A' Certificate, 2015
                            </span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>