
<header (clickOutside)="onClickOutside();">
   
    <div class="header-wrap col-lg-10 center-div">
        <div class="float-left name">
            <a data-scroll href="#body">
              <span>
                  Yash Bharani
              </span>
            </a>
        </div>	
        <div class="float-right social-download-wrap">
           <a href="https://www.dl.dropboxusercontent.com/s/6xh2rf95j92dg2m/CV.pdf?dl=1" target="blank" class="btn btn-default float-left">
                <span class="mask"></span>
                <span class="btn-label">
                 <b>download resume</b>
                </span>
           </a>
           <div class="menu-btn" (click)="toggle();"><i class="fa fa-bars"></i></div>
        </div>
    </div>

    <div *ngIf="drop" class="drop" @pull >
        <ul (click)="toggle();" >
            <li class="item"><a  href="#top" class="nav-link scroll"><button mat-button color="accent">About</button></a></li>
            <li class="item"><a  href="#work" class="nav-link scroll"><button mat-button color="accent">Portfolio</button></a></li>
            <li class="item"><a  href="#edu" class="nav-link scroll"><button mat-button color="accent">Education</button></a></li>
            <li class="item"><a  href="#exp" class="nav-link scroll"><button mat-button color="accent">Experience</button></a></li>
            <li class="item"><a  href="#artwork" class="nav-link scroll"><button mat-button color="accent">Artworks</button></a></li>
            <li class="item"><a  href="#contact" class="nav-link scroll"><button mat-button color="accent">Contact</button></a></li>
        
        </ul>
    </div> 
</header>