<footer class="col-lg-10 col-md-11 col-sm-11 center-div sec-pad">
    
    <div class="row">

        <div class="col-sm-1 available-wrap">
            <span class="pulse"></span>
        </div>
        <div class="col-sm-5 available-wrap">
            <span class="available-tag">Available for Freelance Projects.</span>
        </div>

        <div class="col-sm-6">

            <div class="text-right float-right" style="opacity: .5;">
               Thanks for Scrolling!<br><br>
               <a href="#top" style="color: white;"><mat-icon>keyboard_arrow_up</mat-icon><br>Back To TOP</a>
              
            </div>          
        </div>
        
    </div>

    <br>
   

      

</footer>