<section id="services"  class="col-lg-10 col-md-11 col-sm-11 center-div services-icon-wrap  sec-pad-top sec-pad-bottom-xs">
    <h4>I  am,</h4>
    <div class="row">
        <div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap " >
            <span class="logo architect"></span>
            <span class="key-fact">
            Architect		
            </span>
        </div>
        <div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap">
            <span class="logo motion"></span>
            <span class="key-fact">
            Motion Designer	 
            </span>
        </div>
        <div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap">
            <span class="logo uiux"></span>
            <span class="key-fact">
            UI/UX Designer	 
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap">
            <span class="logo web"></span>
            <span class="key-fact">
            Full Stack WEB Developer		
            </span>
        </div>
        <div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap">
            <span class="logo art"></span>
            <span class="key-fact">
            Artist
            </span>
        </div>
    </div>
   
    <div class="night-sky">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    
        <div class="stars">
            <div></div>
            <div></div>
            <div></div>
        </div>
    
        <div class="stars">
            <div></div>
            <div></div>
            <div></div>
        </div>
    
        <div class="stars">
            <div></div>
            <div></div>
            <div></div>
        </div>
    
        <div class="stars">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="clouds">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    
        <div class="clouds">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="moon">
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    
    <div class="sea-horizon">
        <div class="sea-shine">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
    
                <li></li>
                <li></li>
                <li></li>
                <li></li>
    
                <li></li>
                <li></li>
    
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</section>




