<div class="starter">
    GRIHA: Airport Design
</div>

<img src="https://www.dl.dropboxusercontent.com/s/soiazp34dsafu7n/one.png?dl=0">
<img src="https://www.dl.dropboxusercontent.com/s/9ofqub660deh2bn/two.gif?dl=0">
<img src="https://www.dl.dropboxusercontent.com/s/wolu9qegrby1571/three.gif?dl=0">
<img src="https://www.dl.dropboxusercontent.com/s/kjrt3jp4izd6qqo/four.gif?dl=0">
<img src="https://www.dl.dropboxusercontent.com/s/5305rf1z72kdtsk/five.gif?dl=0">
<img src="https://www.dl.dropboxusercontent.com/s/tss4gq9mm07bf7s/six.gif?dl=0">
<img src="https://www.dl.dropboxusercontent.com/s/t22b7xiqy9tl8w4/seven.gif?dl=0">
<img src="https://www.dl.dropboxusercontent.com/s/ilds4wtc33mzk9e/eight.png?dl=0">

<div class="video">
    <iframe src="https://player.vimeo.com/video/562239214" width="800" height="400" frameborder="0"></iframe>
</div>



<div class="ender">
    Petpooja Kiosk Interface <br>
    <span class="date">January 2019</span>
</div>