<!--Experience Sec-->
<section id="exp"  class="col-lg-10 col-md-11 col-sm-11 center-div sec-pad">
    <h6>experience</h6>
    <div class="exp-timeline-wrap">

        <div class="row exp-timeline">
            <div class="col-md-2">
                <div class="timeline-bullet"></div>
            </div>
            <div class="col-md-10">
                <div class="row text">                   
                    <div class="col-sm-3 duration"><span>Jul-Sept '2020</span></div>
                    <div class="col-sm-9">
                        <span class="job-desn">Research Internship (DIC-CHCR)</span>
                        <span class="job-loc">School of Planning and Architecture (SPA) Bhopal
                        </span>
                        <p class="job-summary p-small">Worked on the Design Innovation Center project ‘UNIVERSAL DESIGN INNOVATION FOR HERITAGE’ funded by MHRD. Applied GIS tools to provide information regarding accessibility for heritage sites in a Moblie Based App. 
                        </p>
                    </div>        
                </div>
            </div>
        </div>


        <div class="row exp-timeline">
            <div class="col-md-2">
                <div class="timeline-bullet"></div>
            </div>
            <div class="col-md-10">
                <div class="row text">                   
                    <div class="col-sm-3 duration"><span>Jan'2019 - Present</span></div>
                    <div class="col-sm-9">
                        <span class="job-desn">Animation Lead</span>
                        <span class="job-loc">Cognizance, IIT Roorkee
                        </span>
                        <p class="job-summary p-small">Worked as a team leader for motion graphics,  animations and 3-D Modeling for Cognizance, The Technical Festival of IITR.
                        </p>
                    </div>        
                </div>
            </div>
        </div>

        <div class="row exp-timeline">
            <div class="col-md-2">
                <div class="timeline-bullet"></div>
            </div>
            <div class="col-md-10">
                <div class="row text">                   
                    <div class="col-sm-3 duration"><span>Nov, Dec '2018</span></div>
                    <div class="col-sm-9">
                        <span class="job-desn">UI / UX Design-Intern</span>
                        <span class="job-loc">Pet-Pooja, Ahmedabad
                        </span>
                        <p class="job-summary p-small">Designed the Web-Site and Kiosk Application for PetPooja- a B2B Software & Logistics Company based in Ahmedabad. It was a 6 week internship I did in winter break. 
                        </p>
                    </div>        
                </div>
            </div>
        </div>

        <div class="row exp-timeline">
            <div class="col-md-2">
                <div class="timeline-bullet"></div>
            </div>
            <div class="col-md-10">
                <div class="row text">                   
                    <div class="col-sm-3 duration"><span>Oct' 2018</span></div>
                    <div class="col-sm-9">
                        <span class="job-desn">UI / UX Design-Intern</span>
                        <span class="job-loc">MadGuy Labs, Hyderabad
                        </span>
                        <p class="job-summary p-small">Designed the mobile application for an online teaching startup based in Hyderabad. 
                        </p>
                    </div>        
                </div>
            </div>
        </div>

        <div class="row exp-timeline">
            <div class="col-md-2">
                <div class="timeline-bullet"></div>
            </div>
            <div class="col-md-10">
                <div class="row text">                   
                    <div class="col-sm-3 duration"><span>Sept'2017-Aug'2019</span></div>
                    <div class="col-sm-9">
                        <span class="job-desn">Senior Graphic Designer</span>
                        <span class="job-loc">WatchOut, IIT Roorkee
                        </span>
                        <p class="job-summary p-small">Watch Out is the Official Media Body of IIT Roorkee, which covers the campus events and affairs by web articles and print magazines.
                        </p>
                    </div>        
                </div>
            </div>
        </div>
        
        
        
    
    </div>
</section>
<!--/Experience Sec-->
