<section id="contact"  class="col-lg-10 col-md-11 col-sm-11 center-div contact-wrap sec-pad">
    <h6>contact</h6>
    <div class="align-center" >
        <h3>Hello {{Name}},<br> I'd love to hear from you.</h3>
        <div>
          <iframe name="hidden_iframe" id="hidden_iframe" style="display: none;"></iframe>
            <form ngNoForm class="row form-horizontal"
            action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSemFWK3OntGH4Q6Tsb3_vlPoYTzfVhNeuElf-lv9tpBJpZ4KA/formResponse" 
            method="POST"
            target="hidden_iframe"
            onsubmit="window.location.reload()">
                <div class="form-group input--hoshi col-sm-6" >
                    <mat-form-field class="example-full-width">
                        <mat-label>Name</mat-label>
                        <input matInput
                        required 
                        type="text" 
                        name="entry.613761435"
                        #name = "ngModel" 
                        [(ngModel)]="Name"
                        placeholder="Name">
                        <mat-error *ngIf="name.touched && !name.valid">
                          <div *ngIf="name.errors.required"> Required </div>
                        </mat-error>
                    </mat-form-field>  
                </div>
                <div class="form-group  input--hoshi col-sm-6" >
                    <mat-form-field class="example-full-width">
                        <mat-label>Email</mat-label>
                        <input 
                        required
                        email
                        type="email"
                        name="entry.414006184"
                        #email = "ngModel"
                        [(ngModel)]="Email" 
                        matInput placeholder="Email">
                        <mat-error *ngIf="email.touched && !email.valid">
                          <div *ngIf="email.errors.required"> Required </div>
                          <div *nfIf="email.errors.email">Invalid</div>
                        </mat-error>
                    </mat-form-field> 
                </div>
                <div class="form-group  input--hoshi col-sm-6" >
                    <mat-form-field class="example-full-width">
                        <mat-label>Phone</mat-label>
                        <input matInput
                        type="tel"
                        name="entry.724865370"
                        [(ngModel)]="phone" 
                        placeholder="Phone">
                    </mat-form-field> 
                </div>
                <div class="form-group  input--hoshi col-sm-12">
                    <mat-form-field class="full-width">
                        <mat-label>Message</mat-label>
                        <textarea 
                        matInput rows="4"
                        required
                        type="text" 
                        name="entry.929714539" 
                        #message="ngModel"
                        [(ngModel)]="Message"></textarea>
                        <mat-error *ngIf="message.touched && !message.valid">
                          <div *ngIf="message.errors.required"> Required </div>
                        </mat-error>
                    </mat-form-field> 
                </div>
                <div class="form-group col-sm-12">    

                  <ng-template [ngIf]="name.valid && email.valid && message.valid" [ngIfElse]="notValid">
                    <div class="align-center">
                      <button type="submit" class="btn btn-default" id="sub" (click)="processForm()">
                        <span class="mask"></span>
                        <span>send message</span>
                      </button>
                    </div>
                  </ng-template>
                  
                  <ng-template #notValid>
                    <div class="align-center">
                      <button class="btn btn-default" id="sub" (click)="notAvbl()">
                        <span class="mask"></span>
                        <span>send message</span>
                      </button>
                    </div>
                  </ng-template>
                
                </div>
            </form>
        </div>

        <h3 style="margin-top: 50px;">I am <br> Available on,</h3>

        <div class="row" style="height: 200px;  width:80%;">
            <ul>
              <li class="facebook">
                <a href="https://www.facebook.com/profile.php?id=100019033962882" target="_blank"><i class="fa fa-facebook-f icon"></i></a>
              </li>
              <li class="instagram">
                <a href="https://www.instagram.com/yash.bharani/" target="_blank"><i class="fa fa-instagram icon"></i></a>
              </li>
              <li class="youtube">
                <a href="https://www.youtube.com/channel/UCkm9PlSI7T3fxCdGMuz2HFg" target="_blank"><i class="fa fa-youtube icon"></i></a>
              </li>
              <li class="behance">
                <a href="https://www.behance.net/yashhbhara7006" target="_blank"><i class="fa fa-behance icon"></i></a>
              </li>
              <li class="pinterest">
                <a href="https://in.pinterest.com/yashhbharani" target="_blank"><i class="fa fa-pinterest icon"></i></a>
              </li>
              <li class="github">
                <a href="https://github.com/yhbharani" target="_blank"><i class="fa fa-github icon"></i></a>
              </li>
              <li class="linkedin">
                <a href="https://www.linkedin.com/in/yash-h-bharani-7a249816a/" target="_blank"><i class="fa fa-linkedin icon"></i></a>
              </li>
            </ul>
    
        </div>   


        <div class="email-direct">
            <p>Email me at <a href="mailto:yash.h.bharani@gmail.com">yash.h.bharani@gmail.com</a></p>
        </div>

    </div>

    <div class="campfire">
      <div class="sparks">
        <div class="spark"></div>
        <div class="spark"></div>
        <div class="spark"></div>
        <div class="spark"></div>
        <div class="spark"></div>
        <div class="spark"></div>
        <div class="spark"></div>
        <div class="spark"></div>
      </div>
      <div class="logs">
        <div class="log">
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
        </div>
        <div class="log">
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
        </div>
        <div class="log">
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
        </div>
        <div class="log">
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
        </div>
        <div class="log">
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
        </div>
        <div class="log">
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
        </div>
        <div class="log">
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
          <div class="streak"></div>
        </div>
      </div>
      <div class="sticks">
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>
      </div>
      <div class="fire">
        <div class="fire__red">
          <div class="flame"></div>
          <div class="flame"></div>
          <div class="flame"></div>
          <div class="flame"></div>
          <div class="flame"></div>
          <div class="flame"></div>
          <div class="flame"></div>
        </div>
        <div class="fire__orange">
          <div class="flame"></div>
          <div class="flame"></div>
          <div class="flame"></div>
          <div class="flame"></div>
          <div class="flame"></div>
          <div class="flame"></div>
          <div class="flame"></div>
        </div>
        <div class="fire__yellow">
          <div class="flame"></div>
          <div class="flame"></div>
          <div class="flame"></div>
          <div class="flame"></div>
          <div class="flame"></div>
        </div>
        <div class="fire__white">
          <div class="flame"></div>
          <div class="flame"></div>
          <div class="flame"></div>
          <div class="flame"></div>
          <div class="flame"></div>
          <div class="flame"></div>
          <div class="flame"></div>
        </div>
      </div>
    </div>

</section>



