<section id="intro"  class="col-lg-10 col-md-11 col-sm-11 center-div intro-content-wrap sec-pad">
    <div class="person-img margin-bottom-xs"></div>
    <div class="hello">
      <h1>
        Hi !
        <br>
            My name is Yash Bharani,
        <br>
        <span class="typed-element">
        </span>
      </h1>   
    </div>
    <div class="DP" @fadeIn></div>
    <h6 style="position: relative; z-index: 5; margin-top: 120px;">
        about
    </h6>
    <p class="pad-bottom-35" >
        I consider myself as a Design Enthusiast, with a bit of software know-how's & Technical Awareness.<br>
        I have a passion for art and architecture. For the past 4 years I have actively participated in various Designing Challenges 
        and pursued a diverse blend of skills throughout my tenure as an Architecture Student of IIT Roorkee. <br><br>  
        I enjoy bringing clarity to complex problems with a people first approach in my own unique way.       
    </p>
    <div class="per-signature margin-top-sm" >
        <img class="img-responsive" src="../../assets/img/signature.png" alt="signature" style="width: 45%;"/>
    </div>
</section>