.person-img {
    display: none;
    height: 150px;
    width: 150px;
    background: url(../../assets/img/profile.png);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover; }

.DP {
    display: inline-block;
    position: absolute;
    top:-17%;
    left:-17%;
    height: 60%;
    width: 60%;
    background: url(../../assets/img/photu.png);
    background-repeat: no-repeat;
    background-size: cover; 
    -webkit-filter: drop-shadow(-50px 25px 5px #000);
    filter: drop-shadow(-50px 25px 5px #000);
    z-index: 0;
}
    
.hello{
    position: relative;
    margin-left: 35%;
    z-index: 100;
}
@media only screen and (max-width: 900px){
    
    .DP{
       display: none;
    }

    .person-img{
        display: block;
    }
}