<section id="work"  class="col-lg-10 col-md-11 col-sm-11 center-div work-wrap  sec-pad">
  <h6>Portfolio</h6>

  <div  class="row margin-top-40 ">
             
    <div class="col-xl-6">

      <div class="thumbnail" routerLink="project/1">
        <div class="thumbnail__container">
          <div class="thumbnail__img" style="background-image: url(https://www.dl.dropboxusercontent.com/s/bldjg3v414pcfcd/thumbnail.jpg?dl=0);"></div>
          <div class="thumbnail__content"> 
            <h1 class="thumbnail__caption">GRIHA Trophy- ANC:2020</h1>
           </div>
        </div>
      </div>

      <div class="title">GRIHA- Airport Design</div>

    </div>   

    <div class="col-xl-6">

      <div class="thumbnail" routerLink="project/2">
        <div class="thumbnail__container">
          <div class="thumbnail__img" style="background-image: url(https://www.dl.dropboxusercontent.com/s/24thcrfkalsrz2x/thumbnail.png?dl=0);"></div>
          <div class="thumbnail__content"> 
            <h1 class="thumbnail__caption">Multi Speciality Hospital<br> Design</h1>
           </div>
        </div>
      </div>

      <div class="title">Hospital Design<br>6th Semester</div>

    </div>      

    <div class="col-xl-6">

      <div class="thumbnail" routerLink="project/3">
        <div class="thumbnail__container">
          <div class="thumbnail__img" style="background-image: url(https://www.dl.dropboxusercontent.com/s/ssvdfreyn33d0ju/thu.jpg?dl=0);"></div>
          <div class="thumbnail__content"> 
            <h1 class="thumbnail__caption">A.N.D.C.- ANC:2019</h1>
           </div>
        </div>
      </div>

      <div class="title">ANDC-2019 "Kharsali"</div>

    </div>   

    <div class="col-xl-6">

      <div class="thumbnail" routerLink="project/4">
        <div class="thumbnail__container">
          <div class="thumbnail__img" style="background-image: url(https://www.dl.dropboxusercontent.com/s/dksbj56aj6m4wt8/thumbnail.jpg?dl=0);"></div>
          <div class="thumbnail__content"> 
            <h1 class="thumbnail__caption">Font Design for IITR</h1>
           </div>
        </div>
      </div>

      <div class="title">DAP IITR Font</div>

    </div>   

    <div class="col-xl-6">

      <div class="thumbnail" routerLink="project/5">
        <div class="thumbnail__container">
          <div class="thumbnail__img" style="background-image: url(https://www.dl.dropboxusercontent.com/s/7yyzw7t3sm909qc/thumbnail.png?dl=0);"></div>
          <div class="thumbnail__content"> 
            <h1 class="thumbnail__caption">Petpooja Kiosk Inteface</h1>
           </div>
        </div>
      </div>

      <div class="title">DAP IITR Font</div>

    </div>  

    <div class="col-xl-6">
    
      <div class="thumbnail" routerLink="project/6">
        <div class="thumbnail__container">
          <div class="thumbnail__img" style="background-image: url(https://www.dl.dropboxusercontent.com/s/nan3mz8f8cydjvu/thumbnail.jpg?dl=0);"></div>
          <div class="thumbnail__content"> 
            <h1 class="thumbnail__caption">Cognizance<br> Website Design</h1>
           </div>
        </div>
      </div>

      <div class="title">Cognizance - 2020<br>Beta Website</div>

    </div>    

    <div class="col-xl-6">

      <div class="thumbnail" routerLink="project/7">
        <div class="thumbnail__container">
          <div class="thumbnail__img" style="background-image: url(https://www.dl.dropboxusercontent.com/s/4sdl5iw87mclglb/apartment-thumbnail.jpg?dl=0);"></div>
          <div class="thumbnail__content"> 
            <h1 class="thumbnail__caption">Mixed Use Residential<br> Apartment Design</h1>
           </div>
        </div>
      </div>

      <div class="title">Campus Apartment Design<br>5th Semester</div>

    </div>      

    <div class="col-xl-6">

      <div class="thumbnail" routerLink="project/8">
        <div class="thumbnail__container">
          <div class="thumbnail__img" style="background-image: url(https://www.dl.dropboxusercontent.com/s/u5qghg4gu46ff2k/thumbnail.jpg?dl=0);"></div>
          <div class="thumbnail__content"> 
            <h1 class="thumbnail__caption">Y.A.C. <br> Monument Design Competition</h1>
           </div>
        </div>
      </div>

      <div class="title">Plastic Monument</div>

    </div> 
    
    <div class="col-xl-6">

      <div class="thumbnail" routerLink="project/9">
        <div class="thumbnail__container">
          <div class="thumbnail__img" style="background-image: url(https://www.dl.dropboxusercontent.com/s/udxy33a4bcdmm86/thumbnail.jpg?dl=0);"></div>
          <div class="thumbnail__content"> 
            <h1 class="thumbnail__caption">Architecture <br> Academic Block Design</h1>
           </div>
        </div>
      </div>

      <div class="title">SPA Bhopal<br>4th Semester</div>

    </div>

    <div class="col-xl-6">

      <div class="thumbnail" routerLink="project/10">
        <div class="thumbnail__container">
          <div class="thumbnail__img" style="background-image: url(https://www.dl.dropboxusercontent.com/s/unaxzhtj86v7u7v/thumbnail.jpg?dl=0);"></div>
          <div class="thumbnail__content"> 
            <h1 class="thumbnail__caption">Resort Design</h1>
           </div>
        </div>
      </div>

      <div class="title">Aqua Resort<br>4th Semester</div>

    </div>

    <div class="col-xl-6">

      <div class="thumbnail" routerLink="project/11">
        <div class="thumbnail__container">
          <div class="thumbnail__img" style="background-image: url(https://www.dl.dropboxusercontent.com/s/k901mu6ziug92fg/thumbnail.jpg?dl=0);"></div>
          <div class="thumbnail__content"> 
            <h1 class="thumbnail__caption">3-D Animation</h1>
           </div>
        </div>
      </div>

      <div class="title">Cognizance:<br>Days to Go</div>

    </div>

    <div class="col-xl-6">

      <div class="thumbnail" routerLink="project/12">
        <div class="thumbnail__container">
          <div class="thumbnail__img" style="background-image: url(https://www.dl.dropboxusercontent.com/s/g171bdhysur8j3l/thumbnail.jpg?dl=0);"></div>
          <div class="thumbnail__content"> 
            <h1 class="thumbnail__caption">Convocation Park <br> Landscape Design </h1>
          </div>
        </div>
      </div>

      <div class="title">Landscape Design:<br>Convo Park</div>

    </div>

    <div class="col-xl-6">
    
      <div class="thumbnail" routerLink="project/13">
        <div class="thumbnail__container">
          <div class="thumbnail__img" style="background-image: url(https://www.dl.dropboxusercontent.com/s/0tysjhmfjacsf33/thumbnail.jpg?dl=0);"></div>
          <div class="thumbnail__content"> 
            <h1 class="thumbnail__caption">Campus Map <br>Cognizance IITR</h1>
           </div>
        </div>
      </div>

      <div class="title">Hologram Map</div>

    </div>


    <div class="col-xl-6">

      <div class="thumbnail" routerLink="project/14">
        <div class="thumbnail__container">
          <div class="thumbnail__img" style="background-image: url(https://www.dl.dropboxusercontent.com/s/wq3p3wcrtht6wwx/thumbnail.png?dl=0);"></div>
          <div class="thumbnail__content"> 
            <h1 class="thumbnail__caption">DesTech Challenge- ANC:2019</h1>
          </div>
        </div>
      </div>

      <div class="title">DesTech Challenge:<br>2019</div>

    </div>




  </div>
</section>
<!--/Work Sec-->
