<!--Skills Sec-->
<section id="skill"  class="col-lg-10 col-md-11 col-sm-11 center-div skills-wrap  sec-pad-top sec-pad-bottom-xs">
    <h4>Technical  Skills</h4>
    <div class="row margin-top-40">

        <div class="col-sm-5" style="margin-bottom: 30px ;">
            <div class="row">
                <span class="skill-logo" style="background-image: url(../../assets/skills/photoshop.svg);"></span>
                <div class="col">
                    <span class="progress-cat">Photoshop</span>
                    <app-star-rating [rating]=7></app-star-rating>
                </div>            
            </div>
        </div>
        <div class="col-sm-5" style="margin-bottom: 30px ;">
            <div class="row">
                <span class="skill-logo" style="background-image: url(../../assets/skills/illustrator.svg);"></span>
                <div class="col">
                    <span class="progress-cat">Illustrator</span>
                    <app-star-rating [rating]=7></app-star-rating>
                </div>            
            </div>
        </div>
        <div class="col-sm-5 " style="margin-bottom: 30px ;">
            <div class="row">
                <span class="skill-logo" style="background-image: url(../../assets/skills/autocad.svg);"></span>
                <div class="col">
                    <span class="progress-cat">AutoCad</span>
                    <app-star-rating [rating]=3></app-star-rating>
                </div>            
            </div>
        </div>
        <div class="col-sm-5" style="margin-bottom: 30px ;">
            <div class="row">
                <span class="skill-logo" style="background-image: url(../../assets/skills/revit.svg);"></span>
                <div class="col">
                    <span class="progress-cat">Revit</span>
                    <app-star-rating [rating]=4></app-star-rating>
                </div>            
            </div>
        </div>
        <div class="col-sm-5 " style="margin-bottom: 30px ;">
            <div class="row">
                <span class="skill-logo" style="background-image: url(../../assets/skills/html-5.svg);"></span>
                <div class="col">
                    <span class="progress-cat">HTML 5</span>
                    <app-star-rating [rating]=6></app-star-rating>
                </div>            
            </div>
        </div>
        <div class="col-sm-5 " style="margin-bottom: 30px ;">
            <div class="row">
                <span class="skill-logo" style="background-image: url(../../assets/skills/css-3.svg);"></span>
                <div class="col">
                    <span class="progress-cat">CSS 3</span>
                    <app-star-rating [rating]=5></app-star-rating>
                </div>            
            </div>
        </div>
        <div class="col-sm-5 " style="margin-bottom: 30px ;">
            <div class="row">
                <span class="skill-logo" style="background-image: url(../../assets/skills/angular.svg);"></span>
                <div class="col">
                    <span class="progress-cat">Angular</span>
                    <app-star-rating [rating]=6></app-star-rating>
                </div>            
            </div>
        </div>
        <div class="col-sm-5 " style="margin-bottom: 30px ;">
            <div class="row">
                <span class="skill-logo" style="background-image: url(../../assets/skills/firebase.svg);"></span>
                <div class="col">
                    <span class="progress-cat">Firebase</span>
                    <app-star-rating [rating]=3></app-star-rating>
                </div>            
            </div>
        </div>
        <div class="col-sm-5 " style="margin-bottom: 30px ;">
            <div class="row">
                <span class="skill-logo" style="background-image: url(../../assets/skills/after-effects.svg);"></span>
                <div class="col">
                    <span class="progress-cat">After Effects</span>
                    <app-star-rating [rating]=7></app-star-rating>
                </div>            
            </div>
        </div>
        <div class="col-sm-5 " style="margin-bottom: 30px ;">
            <div class="row">
                <span class="skill-logo" style="background-image: url(../../assets/skills/premiere.svg);"></span>
                <div class="col">
                    <span class="progress-cat">Premier Pro</span>
                    <app-star-rating [rating]=6></app-star-rating>
                </div>            
            </div>
        </div>
        <div class="col-sm-5 " style="margin-bottom: 30px ;">
            <div class="row">
                <span class="skill-logo" style="background-image: url(../../assets/skills/sketchup.svg);"></span>
                <div class="col">
                    <span class="progress-cat">SketchUp</span>
                    <app-star-rating [rating]=7></app-star-rating>
                </div>            
            </div>
        </div>
        <div class="col-sm-5 " style="margin-bottom: 30px ;">
            <div class="row">
                <span class="skill-logo" style="background-image: url(../../assets/skills/figma.svg);"></span>
                <div class="col">
                    <span class="progress-cat">Figma</span>
                    <app-star-rating [rating]=6></app-star-rating>
                </div>            
            </div>
        </div>
        <div class="col-sm-5 " style="margin-bottom: 30px ;">
            <div class="row">
                <span class="skill-logo" style="background-image: url(../../assets/skills/Blender.png);"></span>
                <div class="col">
                    <span class="progress-cat">Blender</span>
                    <app-star-rating [rating]=4></app-star-rating>
                </div>            
            </div>
        </div>


        
        
    </div>
</section>
<!--/Skills Sec-->

