<div class="starter">
    Cognizance: Days to Go 
</div>

<img src="https://www.dl.dropboxusercontent.com/s/05wmb6munjcio1t/on.png?dl=0">

<div class="video">
    <iframe src="https://www.youtube.com/embed/y0i5J2u2H0k?autoplay=1&loop=1&modestbranding=1&showinfo=0&rel=0&cc_load_policy=1&iv_load_policy=3&theme=light" width="800" height="400" frameborder="0"></iframe>
</div>

<img src="https://www.dl.dropboxusercontent.com/s/4n6filoffozyni3/three.png?dl=0">

<div class="video">
    <iframe src="https://www.youtube.com/embed/L5Sz6DPHZAE?autoplay=1&loop=1&modestbranding=1&showinfo=0&rel=0&cc_load_policy=1&iv_load_policy=3&theme=light" width="800" height="400" frameborder="0"></iframe>
</div>

<img src="https://www.dl.dropboxusercontent.com/s/3ps17gvbevvgd74/five.png?dl=0">

<div class="video">
    <iframe src="https://www.youtube.com/embed/H9wxwK4oIQI?autoplay=1&loop=1&modestbranding=1&showinfo=0&rel=0&cc_load_policy=1&iv_load_policy=3&theme=light" width="800" height="400" frameborder="0"></iframe>
</div>

<img src="https://www.dl.dropboxusercontent.com/s/cmyu1w0sm3rdfxl/seven.png?dl=0">



<div class="ender">
    Cognizance: Days to Go <br>
    <span class="date">September 2019</span>
</div>