<div class="starter">
    GRIHA: Airport Design
</div>

<img src="https://www.dl.dropboxusercontent.com/s/g975fiirhhzyj4k/one.png?dl=0">
<div class="video">
    <iframe src="https://www.youtube.com/embed/bcBHsvVfxtI?autoplay=1&loop=1&modestbranding=1&showinfo=0&rel=0&cc_load_policy=1&theme=light&disablekb=1" width="800" height="400" frameborder="0"></iframe>
</div>
<img src="https://www.dl.dropboxusercontent.com/s/jvgmfbyrwxjjrg8/three.png?dl=0">


<div class="ender">
    GRIHA: Airport Design <br>
    <span class="date">February 2020</span>
</div>