
<!--Navigation-->
<nav class="navbar" role="navigation">
   
   <!-- <div class="collapse navbar-collapse" id="navbar_collapse"> -->
        <ul>
            <li class="nav-item"><a  href="#top" class="nav-link scroll"><button mat-button color="accent">About</button></a></li>
            <li class="nav-item"><a  href="#work" class="nav-link scroll"><button mat-button color="accent">Portfolio</button></a></li>
            <li class="nav-item"><a  href="#edu" class="nav-link scroll"><button mat-button color="accent">Education</button></a></li>
            <li class="nav-item"><a  href="#exp" class="nav-link scroll"><button mat-button color="accent">Experience</button></a></li>
            <li class="nav-item"><a  href="#skill" class="nav-link scroll"><button mat-button color="accent">Skills</button></a></li>
            <li class="nav-item"><a  href="#achievement" class="nav-link scroll"><button mat-button color="accent">Achievements</button></a></li>
            <li class="nav-item"><a  href="#artwork" class="nav-link scroll"><button mat-button color="accent">Artworks</button></a></li>
            <li class="nav-item"><a  href="#contact" class="nav-link scroll"><button mat-button color="accent">Contact</button></a></li>
        </ul>
    <!-- </div> -->   
</nav>
<!--/Navigation-->