.navbar{
    position: fixed;
    top: 60%;
    left: 80%;
    width: 150px;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: none;
    border: none;
    -moz-transition: all 2s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -o-transition: all 2s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -webkit-transition: all 2s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1) 0s; 
    cursor: pointer;
}
    ul{
        width: 100%;
    }
.nav-link{
    padding:0;
}

.nav-item{ 
  display: inline-block;
  float: none;
  margin-bottom: 20px;
  width: 100%; 
  overflow: visible;

}



  .nav-item:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    left: 50%;
    border-radius: 2px;
    position: relative;
    background:#e91e63;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .nav-item:hover:after { 
    width: 50%; 
    left: 0; 
}

.nav-item.active:after { 
    width: 50%; 
    left: 0; 
}


        
     

