<ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>

<div id="gallery" class="galleryFade">
    <ul>
    <li>
        <div class="vpop" data-type="youtube" data-id="BCAJB0fwQHE" data-autoplay='true'>
          <a style="background-image: url('https://www.dl.dropboxusercontent.com/s/s5w7pfq0oq2r0bm/chani-wind.webp?dl=0')" >
            <i class="material-icons">play_circle_filled</i>
            <span></span>
          </a>
        </div>
    </li>
    <li>
        <div class="vpop" data-type="youtube" data-id="XEpki7M1Axo" data-autoplay='true'>
          <a style="background-image: url('https://www.dl.dropboxusercontent.com/s/a4wg1wd7pmf0s8a/finfest-tn.webp?dl=0')" >
            <i class="material-icons">play_circle_filled</i>
            <span></span>
          </a>
        </div>
   </li>
   <li>
        <div class="vpop" data-type="vimeo" data-id="413720700" data-autoplay='true'>
            <a style="background-image: url('https://www.dl.dropboxusercontent.com/s/ie1fhor5ew2rp68/dribbble%20shot%20-tn%20.png?dl=0')" >
                <i class="material-icons">play_circle_filled</i>
            <span></span>
            </a>
        </div>
    </li>
<li>
    <div class="vpop" data-type="vimeo" data-id="413731124" data-autoplay='true'>
      <a style="background-image: url('https://www.dl.dropboxusercontent.com/s/1j8cpi996p3gz6w/Animated_Mockup.gif?dl=0')" >
        <i class="material-icons">play_circle_filled</i>
        <span></span>
      </a>
    </div>
</li>
<li>
    <div class="vpop" data-type="vimeo" data-id="413778342" data-autoplay='true'>
      <a style="background-image: url('https://www.dl.dropboxusercontent.com/s/hx48pc1g0jcsejn/title_tn.jpg?dl=0')" >
        <i class="material-icons">play_circle_filled</i>
        <span></span>
      </a>
    </div>
</li>
    
    </ul>        
  </div><!-- gallery -->


<!-- copy this stuff and down -->
<div id="video-popup-overlay"></div>

<div id="video-popup-container">
  <div id="video-popup-close">&#10006;</div>
  <div id="video-popup-iframe-container">
    <iframe id="video-popup-iframe" src="" width="100%" height="100%" frameborder="0"></iframe>      
  </div>
</div>


