

  .starter{
    padding: .4%;
    padding-left:2% ;
    font-size: 1em;
    font-weight: 400;
}


.download{
  padding: 3%;
  text-align: center;
  font-size: 2.2em;
  font-weight: 500;
  background-color: #707070;
}

.ender{
  padding: 4%;
  text-align: center;
  font-size: 2em;
  font-weight: 500;
}

.date{
  text-align: center;
  font-size: .5em;
  opacity: .5;
}


img{
  max-width: 100%;
  vertical-align: top;
}

