<div class="starter">
    DAP IIT-R Font 
</div>

<img src="https://www.dl.dropboxusercontent.com/s/dnitxnh6c15yvms/one.png?dl=0">
<img src="https://www.dl.dropboxusercontent.com/s/etmvcf4tmqqlttc/two.gif?dl=0">
<img src="https://www.dl.dropboxusercontent.com/s/hyy51i98pdtg0te/three.gif?dl=0">
<img src="https://www.dl.dropboxusercontent.com/s/e7yj5kqbxmpmoc7/four.png?dl=0">


<div class="download">    
    This Font is Free for Personal Use <br><mat-icon>arrow_downward</mat-icon><br>
    <a href="https://drive.google.com/drive/folders/1FrA7__aPPX2AWy-Ga6WXwkRh0Vfv6WtA" target="_blank">
        <button mat-raised-button color="accent">Download</button>
    </a>
</div>

<div class="ender">
    DAP IIT-R Font <br>
    <span class="date">September 2019</span>
</div>